parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type array\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: Bootstrap/Setup.php

		-
			message: "#^Call to an undefined method SwagUserPrice\\\\Bootstrap\\\\Setup\\:\\:getEntityManager\\(\\)\\.$#"
			count: 1
			path: Bootstrap/Setup.php

		-
			message: "#^Method SwagUserPrice\\\\Bootstrap\\\\Setup\\:\\:update\\(\\) has parameter \\$oldVersion with no typehint specified\\.$#"
			count: 1
			path: Bootstrap/Setup.php

		-
			message: "#^Parameter \\#3 \\$menuItemName of method Shopware_Components_Acl\\:\\:createResource\\(\\) expects null, string given\\.$#"
			count: 1
			path: Bootstrap/Setup.php

		-
			message: "#^Parameter \\#4 \\$pluginID of method Shopware_Components_Acl\\:\\:createResource\\(\\) expects null, int given\\.$#"
			count: 1
			path: Bootstrap/Setup.php

		-
			message: "#^Method SwagUserPrice\\\\Bundle\\\\SearchBundleDBAL\\\\PriceHelper\\:\\:buildQuery\\(\\) has parameter \\$group with no value type specified in iterable type array\\.$#"
			count: 1
			path: Bundle/SearchBundleDBAL/PriceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Bundle\\\\SearchBundleDBAL\\\\PriceHelper\\:\\:joinAvailableVariant\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bundle/SearchBundleDBAL/PriceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Bundle\\\\SearchBundleDBAL\\\\PriceHelper\\:\\:joinDefaultPrices\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bundle/SearchBundleDBAL/PriceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Bundle\\\\SearchBundleDBAL\\\\PriceHelper\\:\\:joinPrices\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Bundle/SearchBundleDBAL/PriceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\Core\\\\CheapestUserPriceService\\:\\:get\\(\\) should return Shopware\\\\Bundle\\\\StoreFrontBundle\\\\Struct\\\\Product\\\\PriceRule but returns Shopware\\\\Bundle\\\\StoreFrontBundle\\\\Struct\\\\Product\\\\PriceRule\\|null\\.$#"
			count: 1
			path: Bundle/StoreFrontBundle/Service/Core/CheapestUserPriceService.php

		-
			message: "#^Parameter \\#1 \\$price of method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:buildRule\\(\\) expects array, array\\|null given\\.$#"
			count: 1
			path: Bundle/StoreFrontBundle/Service/Core/CheapestUserPriceService.php

		-
			message: "#^Property SwagUserPrice\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\Core\\\\CheapestUserPriceService\\:\\:\\$service \\(Shopware\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\Core\\\\CheapestPriceService\\) does not accept Shopware\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\CheapestPriceServiceInterface\\.$#"
			count: 1
			path: Bundle/StoreFrontBundle/Service/Core/CheapestUserPriceService.php

		-
			message: "#^Argument of an invalid type array\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Bundle/StoreFrontBundle/Service/Core/GraduatedUserPricesService.php

		-
			message: "#^Method SwagUserPrice\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\Core\\\\GraduatedUserPricesService\\:\\:getCustomRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Bundle/StoreFrontBundle/Service/Core/GraduatedUserPricesService.php

		-
			message: "#^Method SwagUserPrice\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\Core\\\\GraduatedUserPricesService\\:\\:getList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Bundle/StoreFrontBundle/Service/Core/GraduatedUserPricesService.php

		-
			message: "#^Parameter \\#1 \\$array_arg of function end expects array\\|object, array\\|null given\\.$#"
			count: 1
			path: Bundle/StoreFrontBundle/Service/Core/GraduatedUserPricesService.php

		-
			message: "#^Call to an undefined method Enlight_Components_Session_Namespace\\:\\:getSession\\(\\)\\.$#"
			count: 1
			path: Components/AccessValidator.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\AccessValidator\\:\\:validateProduct\\(\\) has parameter \\$number with no typehint specified\\.$#"
			count: 1
			path: Components/AccessValidator.php

		-
			message: "#^Property SwagUserPrice\\\\Components\\\\AccessValidator\\:\\:\\$dependencyProvider \\(Enlight_Components_Session_Namespace\\) does not accept SwagUserPrice\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\DependencyProvider\\.$#"
			count: 1
			path: Components/AccessValidator.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\:\\:getSession\\(\\)\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:buildRule\\(\\) has parameter \\$price with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:getPrice\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:getPriceForQuantity\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:getPrices\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Property SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:\\$dependencyProvider \\(Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Session\\) does not accept SwagUserPrice\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\DependencyProvider\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array and false will always evaluate to false\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Argument of an invalid type array\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: Components/UserPrice.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\UserPrice\\:\\:formatArticlePrices\\(\\) has parameter \\$articles with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/UserPrice.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\UserPrice\\:\\:formatArticlePrices\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/UserPrice.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\UserPrice\\:\\:getRepository\\(\\) return type with generic class Doctrine\\\\ORM\\\\EntityRepository does not specify its types\\: TEntityClass$#"
			count: 1
			path: Components/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:addCustomer\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:addCustomer\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:deletePrice\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:deletePrice\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:getArticles\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:getArticles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:getCustomers\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:getCustomers\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:getGroups\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:getGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:getPrices\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:handleDeletion\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:handleDeletion\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:handleEdit\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:handleEdit\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:isMultiDimensional\\(\\) has parameter \\$array with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:removeCustomer\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:removeCustomer\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:shouldRemovePrice\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:updatePrice\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Method Shopware_Controllers_Backend_UserPrice\\:\\:updatePrice\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Controllers/Backend/UserPrice.php

		-
			message: "#^Call to an undefined method Doctrine\\\\ORM\\\\EntityManager\\:\\:getDBALQueryBuilder\\(\\)\\.$#"
			count: 2
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesCountQuery\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesQuery\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesQuery\\(\\) has parameter \\$sort with no value type specified in iterable type array\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesQueryBuilder\\(\\) has parameter \\$sort with no value type specified in iterable type array\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getCustomersQuery\\(\\) has parameter \\$sort with no value type specified in iterable type array\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getCustomersQueryBuilder\\(\\) has parameter \\$sort with no value type specified in iterable type array\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getGroupsQuery\\(\\) has parameter \\$sort with no value type specified in iterable type array\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getGroupsQueryBuilder\\(\\) has parameter \\$sort with no value type specified in iterable type array\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Parameter \\#1 \\$detailId of method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getPricesQueryBuilder\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Parameter \\#1 \\$filter of method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesCountQueryBuilder\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Parameter \\#1 \\$filter of method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesQueryBuilder\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Parameter \\#1 \\$sort of method Doctrine\\\\ORM\\\\QueryBuilder\\:\\:addOrderBy\\(\\) expects Doctrine\\\\ORM\\\\Query\\\\Expr\\\\OrderBy\\|string, array given\\.$#"
			count: 2
			path: Models/UserPrice/Repository.php

		-
			message: "#^Parameter \\#2 \\$groupId of method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:buildGetArticleQuery\\(\\) expects int, int\\|null given\\.$#"
			count: 2
			path: Models/UserPrice/Repository.php

		-
			message: "#^Parameter \\#2 \\$groupId of method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getPricesQueryBuilder\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Parameter \\#2 \\$start of method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesQueryBuilder\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Parameter \\#3 \\$limit of method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesQueryBuilder\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Subscriber\\\\CacheKeyExtender\\:\\:onCreateCacheHash\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: Subscriber/CacheKeyExtender.php

		-
			message: "#^Method SwagUserPrice\\\\Subscriber\\\\Hooks\\:\\:getSubscribedEvents\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Subscriber/Hooks.php

		-
			message: "#^Method SwagUserPrice\\\\Subscriber\\\\Hooks\\:\\:onUpdatePrice\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Subscriber/Hooks.php

		-
			message: "#^Method SwagUserPrice\\\\SwagUserPrice\\:\\:getSetup\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: SwagUserPrice.php

		-
			message: "#^Parameter \\#2 \\$context of method SwagUserPrice\\\\Bundle\\\\StoreFrontBundle\\\\Service\\\\Core\\\\GraduatedUserPricesService\\:\\:get\\(\\) expects Shopware\\\\Bundle\\\\StoreFrontBundle\\\\Struct\\\\ProductContextInterface, Shopware\\\\Bundle\\\\StoreFrontBundle\\\\Struct\\\\ShopContextInterface given\\.$#"
			count: 1
			path: Tests/Functional/Bundle/StoreFrontBundle/Service/Core/GraduatedUserPriceServiceTest.php

		-
			message: "#^Parameter \\#1 \\$sql of method Doctrine\\\\DBAL\\\\Connection\\:\\:exec\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Tests/Functional/Components/AccessValidatorTest.php

		-
			message: "#^Method SwagUserPrice\\\\Tests\\\\Functional\\\\Models\\\\UserPrice\\\\RepositoryTest\\:\\:getRepository\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Tests/Functional/Models/UserPrice/RepositoryTest.php
