parameters:
	ignoreErrors:
		-
			message: "#^Method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:buildRule\\(\\) has parameter \\$price with no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:getPrice\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:getPriceForQuantity\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Components\\\\ServiceHelper\\:\\:getPrices\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Components/ServiceHelper.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesCountQuery\\(\\) return type has no value type specified in iterable type Doctrine\\\\DBAL\\\\Driver\\\\Statement\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Models\\\\UserPrice\\\\Repository\\:\\:getArticlesQuery\\(\\) return type has no value type specified in iterable type Doctrine\\\\DBAL\\\\Driver\\\\Statement\\.$#"
			count: 1
			path: Models/UserPrice/Repository.php

		-
			message: "#^Method SwagUserPrice\\\\Subscriber\\\\Hooks\\:\\:getSubscribedEvents\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Subscriber/Hooks.php

		-
			message: "#^Method SwagUserPrice\\\\Subscriber\\\\Hooks\\:\\:onUpdatePrice\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Subscriber/Hooks.php
