<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/Bootstrap.php"
         backupGlobals="true"
         processIsolation="false"
         colors="true"
>
    <testsuite name="SwagUserPrice Test Suite">
        <directory>Tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Tests</directory>
                <directory suffix=".php">./vendor</directory>

                <file>.php-cs-fixer.php</file>
                <file>SwagUserPrice.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
